.comment-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border-color);
    padding: 8px 0 ;
    font-size: 12px;
}


.comment-content-container {
    display: flex;
    align-items: center;
}


.comments-container-close {
    height: 0px;
    overflow: hidden;
}

.comments-list-container {
    max-height: 500px;
    overflow-x: auto;
}

.comments-add-content {
    display: flex;
    padding-top: 12px;
    border-top: 2px solid var(--border-color);
}
